#header{
  background-color: rgb(3, 54, 38);
}

.module caption{
  background-color: rgb(0, 103, 14);
}
a:link,a:visited{
  color:rgb(6, 169, 27)
}
a:hover{
  color:rgb(6, 101, 2)
}


div .breadcrumbs{
  background-color:rgb(5, 131, 58)

}
#nav-sidebar .current-model {
    background: #121212;
}

.button,
input[type='submit'],
input[type='button'],
.submit-row input,
a.button{
    background-color: rgb(6, 101, 2);
}

row input.default{
  background: red;
}